@mixin errorStyle {
  border: 1px solid $mediumlightred;
  background: $extralightred;
}
@mixin theme($color1,$color2,$color3,$color4) {
    .aside{
        background: $color1;
    }
    .left{
        background: $color2;
        .activeItem{
            background: $color3;
        }
    }
    .center{
        background: $color4;
    }
}